body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: indianred;
}
.menu{
    list-style: none;
    padding: 0%;
    background-color: rgb(26, 24, 59);
    width: 80%;
    max-width: 1000px;
    margin: auto;
    border-radius: 100px;
}
.menu a{
    text-decoration: none;
    color:white;
    padding: 20px;
    display: block;

}
.menu a{
    display: inline-block;
    text-align: center;
    
}
.menu a:hover{
    background-color: turquoise;
}
h1{
    font-size: 50px;
    background-color: rgb(60, 255, 0);
    width: 700px;
    border-radius: 20px;
    box-shadow:10px 10px 10px rgb(0, 0, 0);
}
table {
    margin: 50px;
    caption-side: bottom;
   border-collapse: collapse;
    background-image: linear-gradient(to left, rgb(214, 235, 79),white);
box-shadow: 5px 5px 5px gray;
}

th,td { 
border: 2px solid black;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}

 th {
background-color: black;
color: white;

 }

 thead {
  background-color: #003366;
  border-bottom: solid 5px #0099cc;
  color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover td {
  background-color: #cc6666;
  color: white;
}

